:root {
  --text-size-m: 18px;
  --text-size-l: 24px;
  --text-size-xl: 35px;
  --text-size-xxl: 60px;
}

.category,
.tag {
  white-space: nowrap;
}

.tag [role="button"] {
  width: 1.1rem;
  height: 1.1rem;
  padding: 0;
  vertical-align: text-bottom;
  line-height: 1;
  color: var(--secondary);
  background-color: var(--muted-border-color);
  border: none;
}

a.removable:hover {
  color: var(--del-color);
  text-decoration: line-through;
}

figure {
  text-align: center;
}

article.audio-player {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding: var(--spacing);
}

article.audio-player header {
  margin: calc(var(--spacing) * -1) calc(var(--spacing) * -1) var(--spacing)
    calc(var(--spacing) * -1);
  padding: calc(var(--spacing) * 0.7) var(--spacing);
  font-weight: bolder;
}

figure.track {
  margin-bottom: calc(var(--spacing) * 0.5);
  text-align: start;
}

figure.track audio {
  display: block;
  width: 100%;
}

/* Fix weird stuff in tooltip */
[data-tooltip]::before {
  line-height: var(--line-height);
}
