@import "https://unpkg.com/@picocss/pico@latest/css/pico.min.css";

.category,
.tag {
  white-space: nowrap;
}

.tag [role="button"] {
  width: 1.1rem;
  height: 1.1rem;
  padding: 0;
  vertical-align: text-bottom;
  line-height: 1;
  color: var(--secondary);
  background-color: var(--muted-border-color);
  border: none;
}

a.removable:hover {
  color: var(--del-color);
  text-decoration: line-through;
}

figure {
  text-align: center;
}

/* Fix weird stuff in tooltip */
[data-tooltip]::before {
  line-height: var(--line-height);
}
